<!DOCTYPE html>
<html>
	<head>
		<title>scrobbl.io</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>
		<body style="background-color:#56b2fd">
		<center>
			
  			<img src="/images/scrobbl-logo.gif">
  			<br>
  			<br>
  			<br>
  			<br>
  			
  			<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  			
  			<div style="width:550px; height:50px; text-align:left;" >
  		
	  			
	  			<input style="font-family: 'Nunito'; font-width: 700px; background-color: #FFFFFF; " type="text" placeholder="LastFM User"  id="user" name="user">
	  			
	  			<button style="font-family: 'Nunito'; font-width: 700px;" >Add Player</button>
	  		</div>
	  			
	  		<div style="font-family: 'Nunito'; font-width: 700px; width:500px;height:200px;line-height:4em;border: 4px solid black;overflow:scroll;padding:20px;">
				Thogus wogus pogus nogus
			</div>
			
			
			
			
  		</center>
		
		
	</body>
	
	
	
</html>
